/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #17100f;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: sticky;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---ШАПКА------------------------------------------------------------------------- */
html{
    scroll-behavior: smooth;
}
.header {
	position: fixed;
	opacity: 40%;
	background-color: #d0c2b0;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: #17100f;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
/* .menu__item {
} */
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #17100f;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/* ---PAGE------------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}

/* .page__main-block {
} */

.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}

.page__projects {
	height: 750px;
	background-image: linear-gradient(#fff, #c7a5a2);
}

/* .page__more {
} */

.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.page__contact {
	background-image: linear-gradient(#f0d7bf ,#c79995);
}
/* ---HEADER-BLOCK------------------------------------------------------------------------- */
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	line-height: 142%;
	font-weight: 700;
	font-size: 40px;
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
	line-height: 142%;
	color: #17100f;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
/* ---ПОДВАЛ------------------------------------------------------------------------- */
/* .footer {
} */
/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-block {
	position: relative;
}
/* .main-block__container {
} */
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 800;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	color: #17100f;
	font-size: 20px;
	line-height: 150%;
}
@media (max-width: 479px) {
	.main-block__text {
		color: #17100f;
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0;
	transition: 1s;
}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_CV {
	background: #c7a5a2;
	color: #17100f;
}
.main-block__button_CV:hover {
	background-color: #8f625f;
	color: #17100f;
	border: 1px solid #8f625f;
}
.main-block__button_more {
	background: #c7a5a2;
	;
	color: #17100f;
}
.main-block__button_more:hover {
	background-color: #8f625f;
	color: #17100f;
	border: 1px solid #8f625f;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}
/* ----------------------------------- */

@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.services__column {
	flex: 0 1 20%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #8f625f;
	padding: 35px;
	border-radius: 20px;
}

@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}

.item-service {
	background-image: linear-gradient(#c79995, #8f625f);
}

.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.item-service__title {
	color: #17100f;
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	color: #17100f;
	line-height: 142%;
}
/* --------------------------------------------- */
.projects {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.projects {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.projects {
		padding: 40px 0;
	}
}

@media (max-width: 767px) {
	.projects__header {
		margin: 0px 0px 25px 0px;
	}
}

.projects__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.projects__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1020px) {
	.projects__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.projects__column {
		flex: 0 1 100%;
	}
}
/* -------------------------------- */
.page__more {
	padding: 125px 0px 80px 0px;
	background-image: linear-gradient(#c7a5a2, #f0d7bf)
}
@media (max-width: 993px) {
	.page__more {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.page__more {
		padding: 0px 0px 40px 0px;
	}
}
/* .more__container {
} */
.more__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.more__header {
		margin: 0px 0px 25px 0px;
	}
}

.more__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.more__column {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1040px) {
	.more__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.more__column {
		flex: 0 1 100%;
	}
}

.more__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(27, 10, 10, 0.07);
	/* background-color: #8f625f; */
	padding: 35px;
	border-radius: 20px;
}
.item-more {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px;
	border-radius: 20px;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.item-more__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-more__link {
	color: inherit;
	display: inline-block;
}
.item-more__link:hover {
	text-decoration: underline;
}
.item-more__link:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-more__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.item-more__text {
	color: #17100f;
	line-height: 142%;
}
.item-more__image {
	display: block;
	padding: 0px 0px 60% 0px;
}

/* ----------------------------- */

.contact {
	padding: 80px 0px 135px 0px;
}
/* .contact__container {
} */
.contact__header {
	margin: 0px 0px 80px 0px;
}
.contact__items {
	margin: 0px -15px;
}

.contact__item {
	flex: 0 1 33.333%;
}
.item-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background: radial-gradient( #f0d7bf, #8f625f);
	padding: 50px 15px;
}

.item-contact_active .item-contact__button {
	border: 1px solid #fff;
	color: #fff;
}

.item-contact > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}

.item-contact__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-contact__email {
	color: inherit;
	font-weight: 600;
	line-height: 150%;
	font-size: 16px;
}
.item-contact__email:hover {
	text-decoration: underline;
}
.item-contact__label {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-contact__button {
	border: 1px solid #8f625f;
	min-height: 44px;
	display: flex;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	color: #8f625f;
	line-height: 142%;
	padding: 5px 20px;
	text-align: center;
	transition: 1s;
	border-radius: 5px;
}
.item-contact__button:hover {
	border: 1px solid #8f625f;
	background-color: #8f625f;
	color: #17100f;
}

@media (min-width: 992px) {
	.contact__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.contact {
		padding: 50px 0px;
	}
	.contact__header {
		margin: 0px 0px 50px 0px;
	}
	.item-contact_active {
		padding: 50px 15px;
	}
}
@media (max-width: 767px) {
	.contact__header {
		margin: 0px 0px 30px 0px;
	}
}

/* --------------------------------------------------- */

.footer {
	background-color: #70504d;
}
.footer__top {
	background-image: linear-gradient(#c79995, #8f625f);
	height: 250px;
	padding: 35px 0;
}
/* .footer__main {
} */
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #17100f;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
/* .footer__menu {
} 
 .menu-footer {
} 
 .menu-footer__list {
} */
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #17100f;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: underline;
}

/* .footer__contact {
} */

.contact-footer {
	display: flex;
	flex-direction: column;
}
.contact-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #17100f;
	min-height: 30px;
}
.contact-footer__item:hover {
	text-decoration: underline;
}
.contact-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contact-footer__item_phone {
	background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contact-footer__item_map {
	background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contact-footer__item_email {
	background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	background-image: linear-gradient(#8f625f, #70504d);
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	color: #17100f;
	line-height: 171%;
}
/* .footer__social {
} */

.social {
	display: flex;
	align-items: center;
}
.social__item {
	transition: 1s;
}
.social__item :hover {
	transform: scale(1.2);
}
 .social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}


